Package: com.turath.alert
Name: TurathAlert
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Popup alert for Turath Store URL
Maintainer: Turath
Author: Turath
Section: Tweaks
